<link rel="stylesheet" href="/css/filter.css">

<div class="row px-5 offset-lg-2 offset-md-1">
    <div id="filters" class="col-lg-8 col-sm-12">
        <div class="filter">
            <a href="/">
                <div><i class="fa-solid fa-compass"></i></div>
                <p>All</p>
            </a>
        </div>
        <div class="filter">
            <a href="/beach">
                <div><i class="fa-solid fa-umbrella-beach"></i></div>
                <p>Beach</p>
            </a>
        </div>
        <div class="filter">
            <a href="/pool">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Pool</p>
            </a>
        </div>
        <div class="filter">
            <a href="/room">
                <div><i class="fa-solid fa-bed"></i></div>
                <p>Room</p>
            </a>
        </div>
        <div class="filter">
            <a href="/hotel">
                <div><i class="fa-solid fa-hotel"></i></div>
                <p>Hotel</p>
        </div>
        <div class="filter">
            <a href="/outing">
                <div><i class="fa-solid fa-campground"></i></div>
                <p>Outing</p>
            </a>
        </div>
        <div class="filter">
            <a href="/mountain">
                <div><i class="fa-solid fa-cable-car"></i></div>
                <p>Mountain</p>
            </a>
        </div>
        <div class="filter">
            <a href="/nature">
                <div><i class="fa-solid fa-cannabis"></i></div>
                <p>Nature</p>
            </a>
        </div>
        

    </div>
    <div class="tax col my-3 ">
        <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault" >
            <label class="form-check-label" for="flexSwitchCheckDefault">Show Taxes</label>
        </div>
    </div>
</div>


