<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wanderlust</title>
    <link rel="icon" href="/assets/logo.png">
    <style>
        body{
            background-color: black;
        }
        ::-webkit-scrollbar{
            width: 0;
        }
        div{
            width: 100%;
            height: 100vh;
            display: flex;
            flex-wrap: wrap;
            align-items: center;            
        }
        img{
            height: 90%; border-radius: 2rem;
            margin: auto;
        }
    </style>
</head>
<body>
    <div class="">
        <img src="<%=data.image.url%>" alt="">
    </div>
    
</body>
</html>