<% layout('./layout/boilerplate.ejs') -%>

    <body>
        <div class="container mt-3">
            <div class="alert alert-danger" role="alert">
                Error : <%=message%>
            </div>
        </div>
    </body>